body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    height: 100vh;
}


footer {
    position: relative;
    bottom: 0px;
}


/*-----Explore Section begins here-----*/
/* Breakpoint for iPad is 900px*/


main {
    margin: 5%;
}
.explore {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-services {
  width: 90%;
}

.service-grid {
  margin-top: 2.7778rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  transition: 0.5s;
}

.service-grid {
  width: 100%;
  height: auto;
}

.service-grid img {
  width: 100%;
  height: auto;
}

.service {
  transition: 0.3s;
}

.service:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.service span:first-of-type {
  position: relative;
  bottom: 28%;
  left: 10%;
  color: white;
  font-weight: 600;
  font-size: 2vw;
}

.service span:last-of-type {
  display: block;
  position: relative;
  bottom: 28%;
  left: 10%;
  color: white;
  font-size: 1.3vw;
}

@media (max-width: 900px) {
  .explore {
    margin-top: 20%;
  }
  .service-grid {
    grid-template-columns: 70%;
    margin: 0 70px;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 1.1111rem;
    gap: 0%;
  }
  .service span:first-of-type {
    font-size: 7vw;
  }
  .service span:last-of-type {
    font-size: 4vw;
  }
}

/*Text transition styles*/
.text {
    transition: opacity 1s;
    margin-top: 5%;
    font-size: 1.5rem;  
}

#first {
    display: none;
    opacity: 0;
}

#second {
    display: none;
    opacity: 0;
}

#third {
    display: none;
    opacity: 0;
}

#title {
    text-align: center;
    transition: opacity 0.5s;
}